<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>chem1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E92B16A61E658353008CC5F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E92B16BA1E658354008CC5F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E92B16C51E658354008CC5F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
